body {
  background-color: #dbe9ee;
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  margin-bottom: 2em;
}

nav {
  background-color: #30476b;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left,
.right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* unvisited */
a:link {
  color: #ffffff;
}

/* visited */
a:visited {
  color: #ebebeb;
}

/* mouse over */
a:hover {
  color: #d2cd4b;
}

/* selected */
a:active {
  color: #fbf426;
}
